# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Archivos temporales
*.log
*.tmp
*.temp

# Archivos de dependencias
node_modules/
bower_components/

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de caché
.cache/
.temp/ 